/* Home.css */

/* Burger button styling when outside the sidebar */
.burger-menu-home {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 1002;
}

/* Additional styling when the button is inside the sidebar */
.burger-menu-home.inside-sidebar {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 3000;
}

