/* src/pages/TopInfoBar.css */

.top-infobar {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #f1f1f1;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-arrow {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
}

.headline {
  flex-grow: 1;
  font-size: 16px;
  color: #333;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Group for Logout and Upload buttons */
.icon-buttons-group {
  display: flex;
  gap: 5px; /* Small gap between icons */
  align-items: center;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon-button svg {
  width: 24px;
  height: 24px;
}

/* Extra small screen adjustments */
@media (max-width: 480px) {
  .icon-buttons-group {
    gap: 3px; /* Reduce spacing between icons on very small screens */
  }
}
